.env
.env.local
.env.rc
.env.master

.cache
.history
.DS_Store

dist
build
node_modules

yarn.lock
package-lock.json

shopify.app.toml
shopify.app.local.toml

extensions/everflow/assets/*
extensions/everflow/blocks/*
